html.reveal-print * {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

html.reveal-print {
  width: 100%;
  height: 100%;
  overflow: visible;
}

html.reveal-print body {
  margin: 0 auto !important;
  border: 0;
  padding: 0;
  float: none !important;
  overflow: visible;
}

html.reveal-print .nestedarrow,
html.reveal-print .reveal .controls,
html.reveal-print .reveal .progress,
html.reveal-print .reveal .playback,
html.reveal-print .reveal.overview,
html.reveal-print .state-background,
html.reveal-print .aria-status {
  display: none !important;
}

html.reveal-print .reveal pre code {
  overflow: hidden !important;
}

html.reveal-print .reveal {
  width: auto !important;
  height: auto !important;
  overflow: hidden !important;
}

html.reveal-print .reveal .slides {
  position: static;
  width: 100% !important;
  height: auto !important;
  zoom: 1 !important;
  pointer-events: initial;
  left: auto;
  top: auto;
  margin: 0 !important;
  padding: 0 !important;
  overflow: visible;
  display: block;
  perspective: none;
  perspective-origin: 50% 50%;
}

html.reveal-print .reveal .slides .pdf-page {
  position: relative;
  overflow: hidden;
  z-index: 1;
  page-break-after: always;
}

html.reveal-print .reveal .slides .pdf-page:last-of-type {
  page-break-after: avoid;
}

html.reveal-print .reveal .slides section {
  visibility: visible !important;
  display: block !important;
  position: absolute !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  min-height: 1px;
  opacity: 1 !important;
  transform-style: flat !important;
  transform: none !important;
}

html.reveal-print .reveal .slides section.slide-shell {
  height: 100% !important;
  min-height: 100% !important;
}

html.reveal-print .reveal section.stack {
  position: relative !important;
  margin: 0 !important;
  padding: 0 !important;
  page-break-after: avoid !important;
  height: auto !important;
  min-height: auto !important;
}

html.reveal-print .reveal .backgrounds {
  display: none;
}

html.reveal-print .reveal .slide-background {
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: auto !important;
}

html.reveal-print .reveal .slide-number-pdf {
  display: none;
}

html.reveal-print .reveal section > img,
html.reveal-print .reveal section > video,
html.reveal-print .reveal section > iframe {
  max-width: 100%;
  max-height: 100%;
}
